
@model Lecture2.Models.Person
<h2>Details</h2>
<h3>@ViewBag.Name</h3>
<h3>@ViewBag.Temp</h3>
<h3>@ViewBag.Mname</h3>
<h3>@TempData["University"]</h3>

<h1>@Model.Name</h1>
<h1>@Model.Username</h1>




