
@{
    ViewBag.Title = "Index";
 
}

<h2>Index</h2>
<h3>Name: @ViewBag.Name</h3>
<h3>Id: @ViewBag.Id</h3>
<h3>Father Name: @ViewBag.Fname</h3>
<h3>Mother Name: @ViewBag.Mname</h3>
<h3>Mother Name: @ViewBag.Mname</h3>
<h3>Age: @ViewBag.Age</h3>
<h3>University: @TempData["University"]</h3>

<a class="btn btn-danger" href="/Person/Create">Create</a>



